@model IEnumerable<HomeHelper.DTO.Devices.ContactSensor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row no-gutters justify-content-around">

    @foreach (var contactSensor in Model)
    {
        <div class="col-11 col-sm-9 col-md-5 col-lg-4 pb-5">
            <div class="card-body bg-light shadow hh-rounded">
                <div class="contact-container">
                    <div id="@contactSensor.Id">
                        <div class="device-name mb-2 hh-fw-l">Name: @contactSensor.Name</div>
                        <div class="room-name mb-4 hh-fw-l">Room: @contactSensor.RoomName</div>
                        <div class="contact-value mb-4 text-center"><img src="~/img/value-loader.gif" class="contact-animation" /></div>
                        <div class="battery text-right"><span class="battery-value"></span><img src="~/img/value-loader.gif" class="battery-animation" /><ion-icon name="battery-half-sharp" class="battery-icon hidden ml-1"></ion-icon></div>
                        <div class="link-quality text-right">
                            <span class="signal-strength"></span>
                            <ion-icon name="cellular-outline" class="signal-icon hidden"></ion-icon><img src="~/img/value-loader.gif" class="signal-animation" />

                        </div>
                        <div class="protocol-type" hidden>@contactSensor.Protocol</div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/js/contact.sensors.js" defer></script>