
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row no-gutters justify-content-around">
    <div class="col-11 pr-2 mb-5">
        <div class="card-body bg-light shadow hh-rounded">
            <h2 class="pb-5 text-center">
                Welcome to HomeHelper!
            </h2>
            <p class="pb-2">
                Below, you can find <strong>weather</strong> information at your localization. HomeHelper supports 3 types of protocols: <strong>HTTP</strong>, <strong>MQTT</strong>
                and <strong>ZIGBEE</strong>.
            </p>
            <p>On the left can be find togglable menu. There you can navigate between pages:</p>
            <p class="ml-3"><strong>Sensors</strong> section consist of all devices which provide data e.g. temperature or humidity.</p>
            <p class="ml-3"><strong>Controls</strong> section consist of all devices which allow you to control its state e.g. switches.</p>
            <p class="ml-3"><strong>Devices</strong> section is responsible for creating and managing all devices.</p>
            <p class="ml-3"><strong>Rooms</strong> section is responsible for creating and managing all rooms.</p>
            <p class="ml-3"><strong>Automation</strong> section allows you to automate tasks e.g. Turning lights when specific condition occur.</p>
            <p class="ml-3"><strong>Settings</strong> section consist of application information and settings.</p>
        </div>
    </div>
    <div class="col-6 pl-2 mb-2">
        <div class="card-body bg-light shadow hh-rounded">

            <p>
                TODO: weather api
            </p>
        </div>
    </div>
    

</div>

