@{
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/owl.carousel.min.css" />
<script src='lib/owl-carousel/owl.carousel.min.js' defer></script>
<script src="~/js/custom.js" defer></script>

<section class="mb-5">
    <div class="container-lg">
        <div class="row">
            <div class="col">
                <div class="h2 text-center">What is HomeHelper?</div>
                <p class="text-center">
                    HomeHelper is a web application allowing you to build your custom IoT ecosystem.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="mb-5 pt-sm-5 pt-0">
    <div class="container-lg">
        <div class="row justify-content-around">
            <div class="col-md-5 col-sm-8 col-10 order-md-0 order-1">
                <img src="~/img/raspberry_pi.png" alt="" class="img-fluid" />
            </div>
            <div class="col-md-5 col-11 order-md-1 order-0">
                <div class="h3">Powered by Raspberry Pi&nbsp;<img src="~/img/raspi_logo.png" height="50" class="ml-2" /></div>
                <p>
                    Application is working under HTTP server installed on Raspberry Pi microcomputer. HomeHelper was designed to work in a local network.
                    Application is accessible from outside the LAN via port forwarding.
                </p>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container-lg">
        <div class="row justify-content-around">
            <div class="col-md-5 col-11 mb-md-0 mb-2">
                <div class="h3">Built with modern technologies</div>
                <p>HomeHelper uses many different top class frameworks and libraries to ensure maximum efficiency and safety. The application is mainly based on .NET Core stack:</p>
            </div>

            <div class="col-md-5 col-sm-8 col-10">
                <div class="owl-carousel col-12 col-md-12 col-lg-11 col-xl-10 m-auto">
                    <div><img src="~/img/core.png" alt="" class="img-fluid" /></div>
                    <div><img src="~/img/asp_core.png" alt="" class="img-fluid" /></div>
                    <div><img src="~/img/ef_core.png" alt="" class="img-fluid" /></div>
                    <div><img src="~/img/mysql.png" alt="" class="img-fluid" /></div>
                </div>
            </div>
        </div>
    </div>
</section>

